body {
  /* background-image: linear-gradient(
    to top left,
    #196767 10%,
    #196767 50%,
    #ff4f4f 90%
  ); */
  background-color: #208181;
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

.results-title {
  text-align: center;
  padding: 15vw;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.workout-container {
  padding: 15px;
  margin: 20px;
  border-radius: 9px;
  height: 40vh;
  text-align: left;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  margin: 30px 50px 30px 50px;
  height: 50vh;
  padding: 15px;
  padding-bottom: 50px;
  background-image: linear-gradient(
    to top left,
    #8be6e4 10%,
    #006D6E 60%,
    #c41a14 100%
  );
  border-radius: 9px;
}

.workout-title {
  /* text-align: left; */
  text-align: center;
  font-size: 4vw;
  padding-top: 50px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);

}


.music-container {
  margin: 30px 50px 30px 50px;
  height: 50vh;
  padding: 15px;
  padding-bottom: 50px;
  background-image: linear-gradient(
    to top left,
    #8be6e4 10%,
    #006D6E 60%,
    #c41a14 100%
  );
  border-radius: 9px;
}

h2 {
  font-size: 9vw;
}

.hero-img-results {
  background-image: url("/assets/images/photo6.jpg");
  /* height: 65vh; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* width: 100%; */
}

.music-title {
  text-align: center;
  font-size: 3vw;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  margin-top: 90px;
}

iframe {
  /* min-height: 300px; */
  border-radius: 5px;
}

.bi {
  margin: 20px;
}

.yourWorkout{
    justify-content: space-around;
    align-items: center;
  
  }

  .modal-content{
    color:  black;
    text-shadow: none;
  }

  .workoutAdvice{
    text-align: center;
    font-size: 3vw;
  }

  .advice-title {
    font-weight: bold;
    font-size: 4vw;  
  }
  
  .workout-btn{
    font-size: 2vw;
    border-radius: 58px;
    padding: 18px;
    background-color: rgb(255, 255, 255);
    color: #2da1a1;
    font-weight: bold;
  }

  .workout-btn:hover{
    background-color: rgba(226, 226, 226, 0.884);
    color: #196767;

  }



@media (max-width: 768px) {
  .workout-title {
    font-size: 20px;
  }
  .userGuide {
    font-size: 15px;
  }
}
/* @media screen and (min-height: 833px) and (max-width: 770px) {
    iframe {
        max-height: 334px
    }
}



@media screen and (max-height: 915px)  {
    .music-container {
        height: 40vh;
    }

}

@media screen and (min-height: 770px) and (max-width: 550px) {
    .music-container {
        height: 30vh;
    }

}

@media screen and (min-height: 700px) and (max-width: 770px) {
    .music-container {
        height: 37vh;
    }
}

@media screen and (min-width: 640px), (min-height: 700px){
    .music-title {
       font-size: 20px;
    }
}

  @media screen and (min-height: 770px) and (max-width: 768px) {
    .music-container {
        height: 30vh;
    }
} */
