body {
  background-image: linear-gradient(
    to right bottom,
    #90e0ef,
    #a0e4f1,
    #aee8f4,
    #bcecf6,
    #caf0f8
  );
  color: whitesmoke;
  /* background-color: white; */
}

p{
  margin-bottom: .5rem;
}


.hero-img-results {
  background-image: url("/assets/images/resultsheader.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom 25% right 0%;
}

.results-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}

.res-container {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  /* margin: 30px 50px 30px 50px; */
  /* height: 25vh; */
  /* width: 40vw; */
  padding: 15px;
  padding-bottom: 50px;
  background-image: linear-gradient(
    to left top,
    #0077b6,
    #0083be,
    #008ec5,
    #009acb,
    #00a5d1,
    #1faed5,
    #31b6d9,
    #41bfdd,
    #59c7e1,
    #6dd0e6,
    #7fd8ea,
    #90e0ef
  );
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.7) 7px 7px 10px;
}

.workout-title {
  text-align: center;
  font-size: 4.5vw;
  margin-top: 90px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.music-title {
  text-align: center;
  font-size: 4vw;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  margin-top: 90px;
}

#timer-title {
  text-align: center;
  font-size: 4.5vw;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  margin-top: 90px;
}

iframe {
    height: 45vh;
    border-radius: 5px;
    padding: 23px;
    padding-bottom: 0px;
}

.bi {
  margin: 20px;
  color: whitesmoke;
}

.yourWorkout {
  justify-content: space-around;
  align-items: center;
}

.modal-content {
  color: black;
  text-shadow: none;
}

.workoutAdvice {
  text-align: center;
  font-size: 2vw;
}

.advice-title {
  font-weight: bold;
  font-size: 2.5vw;
}

.workout-btn {
  font-size: 1.6vw;
  border: none;
  /* margin: 10px; */
  outline: 0;
  display: inline-block;
  /* padding: 15px 25px; */
  color: black;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.35s;
}

.workout-btn:hover {
  background-color: #979797;
  /* transition: background-color 0.35s; */
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .workout-title {
    font-size: 20px;
  }
  .userGuide {
    font-size: 15px;
  }
}

#timeDisplay {
  font-size: 5vw;
}

.timerBtn {
  font-size: 2.5vw;
  border: none;
  padding: 1.5vw;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.35s;
  margin: 5px;
}

.timerBtn:hover {
  background-color: #979797;
  color: #ffffff;
}

.top-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.workout-rec {
  width: 40vw;
}

.timer {
  width: 40vw;
}

.workout-container {
  height: 25vw;
}

#timer-container {
  text-align: center;
  height: 25.5vw;
  padding-top: 20px;
}

.music-container {
  margin: 0px 40px 50px 40px;
}


@media screen and (max-width: 560px) {
  .advice-title {
    font-size: 1.5vw;
    }
  #workout-name{
    font-size: 1vw;
  }
  }
    
  @media screen and (max-height: 676px)  {
    iframe {
        height: 337px;
      }
      
    }
    










/* .hidden-container{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);

} */

/* @media screen and (min-height: 833px) and (max-width: 770px) {
    iframe {
      max-height: 334px
      }
    }
  
    
    
    @media screen and (max-height: 915px)  {
      .music-container {
          height: 40vh;
        }
        
      }
      
      @media screen and (min-height: 770px) and (max-width: 550px) {
        .music-container {
          height: 30vh;
      }
      
  }
  
  @media screen and (min-height: 700px) and (max-width: 770px) {
    .music-container {
      height: 37vh;
    }
  }
  
  @media screen and (min-width: 640px), (min-height: 700px){
    .music-title {
      font-size: 20px;
    }
  }
  
  @media screen and (min-height: 770px) and (max-width: 768px) {
    .music-container {
      height: 30vh;
      }
  } */
