body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(
    to right bottom,
    #90e0ef,
    #a0e4f1,
    #aee8f4,
    #bcecf6,
    #caf0f8
  );
  background-size: cover;
  background-attachment: fixed;
}
.hero2-image {
  background-image: url("/assets/images/photo20.png");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bi {
  margin-left: 20px;
  margin-top: 20px;
}
.hero2-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.title {
  position: relative;
  font-size: 2.1vw;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  font-weight: bold;
}
form {
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(251, 243, 243);
  box-shadow: rgba(0, 0, 0, 0.2) 7px 7px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20vh;
  margin-right: 20vh;
}
#form1 {
  border: none;
}

#form-2 {
  border: none;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  padding: 10px;
  margin: 10px 5px;
  align-content: center;
  justify-content: space-around;
}
.btn-group {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
#submitButton {
  background-color: #ddd;
  margin: auto;
  padding: 10px 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.35s;
}
#submitButton:hover {
  background-color: #979797;
  color: white;
}
label {
  background-color: #41bfdd !important;
  color: white !important;
  font-size: 20px !important;
  font-family: "Roboto Mono", sans-serif !important;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
label:hover {
  background-color: white !important;
  color: #0096c7 !important;
  border: 1px solid #0096c7 !important;
}
label:active {
  transform: translate(0px, 3px) !important;
}

input[type="radio"] {
  visibility: hidden !important;
}

input[type="radio"]:checked + label {
  background-color: white !important;
  color: #0096c7 !important;
  border: 1px solid #0096c7 !important;
}
* > .fa-hover-show,
*:hover > .fa-hover-hidden {
  display: none;
}
*:hover > .fa-hover-show {
  display: inline-block;
}
input[type="radio"]:checked + label .fa-hover-show {
  display: inline-block !important;
}
input[type="radio"]:checked + label .fa-hover-hidden {
  display: none !important;
}
.icons {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.group {
  background-color: #0077b6 !important;
  justify-content: space-evenly !important;
}
@media (max-width: 768px) {
  form {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  label {
    font-size: 15px !important;
  }
}
